// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

=fa
	font-family: FontAwesome
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	transform: translate(0, 0)

$orange: #eb4200

body
	font-family: Tahoma, Arial, sans-serif
	font-size: 13px
	line-height: 1.4
	min-width: 320px
	color: #555
	&.no-scroll
		overflow: hidden

// common blocks
.config
	max-width: 960px
	min-height: 590px
	margin: 0 auto 20px
	padding: 0 20px
	+nosel
	+r(1023)
		min-height: 0
	+r(767)
		padding: 0 10px
	img
		display: block
		max-width: 100%
		height: auto
	.config__intro
		text-align: center
	.config__intro-title
		margin-bottom: 50px
		font-size: 20px
	.config__intro-list
		font-size: 0
		text-align: center
	.config__intro-item
		display: inline-block
		width: 33.33%
		text-decoration: none
		vertical-align: top
		padding: 0 18px 20px
		+r(767)
			width: 100%
			padding: 0 0 30px
			text-align: center
	.config__intro-pic
		display: inline-block
		position: relative
		margin-bottom: 20px
		font-size: 0
		vertical-align: top
	.config__intro-number
		position: absolute
		top: -5px
		left: 15px
		width: 60px
		height: 60px
		border-radius: 50%
		background: $orange
		font-size: 24px
		color: #FFF
		line-height: 60px
	.config__intro-type
		color: $orange
		font-size: 20px
		line-height: 1.2
		span
			display: block
			font-weight: 700
	.config__in
		display: none
	.config__section
		overflow: hidden
	.config__aside
		float: right
		width: 200px
		margin-left: 25px
		+r(767)
			float: none
			width: 100%
			margin: 0 0 15px
	.config__wrapper
		position: relative
		font-size: 0
	.config__l
		position: absolute
	.config__title
		margin-bottom: 20px
		font-size: 16px
	.config__accord-item
		border-top: 1px solid #ddd
	.config__accord-title
		position: relative
		padding: 10px 15px 10px 0
		font-size: 14px
		color: $orange
		cursor: pointer
		&.is-active
			&:after
				+rotate(180)
		&:after
			content: "\f107"
			position: absolute
			right: 0
			top: 50%
			margin-top: -9px
			+fa
			font-size: 18px
			+tr(transform .2s)
	.config__accord-body
		display: none
		.config__accord-title
			padding-left: 20px
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 0
				width: 6px
				height: 6px
				margin-top: -3px
				background: #ddd
				border-radius: 50%
	.config__colpick
		.colpick
			width: 200px
			height: 160px
			padding-bottom: 10px
			background: none
			border: none
			border-radius: 0
		.colpick_color
			top: 0
			left: 0
			outline: none
		.colpick_color,
		.colpick_color_overlay1,
		.colpick_color_overlay2
			width: 160px
			height: 160px
		.colpick_new_color,
		.colpick_current_color,
		.colpick_hex_field
			display: none
		.colpick_hue
			top: 0
			left: 173px
			height: 160px
			border: none
	.config__house
		+clr
	.config__house_1
		.config__l_1
			top: 24.5%
			left: 10%
			width: 68.3%
			height: 45.358%
		.config__l_2
			top: 17.4%
			left: 9%
			width: 83.81%
			height: 55%
		.config__l_3
			top: 15%
			left: 37%
			width: 48.572%
			height: 11.608%
		.config__l_4
			top: 15%
			left: 9.06%
			width: 83.82%
			opacity: .2
		.config__l_5
			top: 15%
			left: 9%
			width: 83.81%
			opacity: .2
		.config__l_6
			top: 50.4%
			left: 9.8%
			width: 66.803%
			height: 18.93%
		.config__l_7
			top: 50.4%
			left: 9.9%
			width: 66.803%
			height: 18.93%
		.config__l_8
			top: 50%
			left: 9.3%
			width: 67.62%
		.config__l_9
			top: 50%
			left: 9.53%
			width: 67.22%
		.config__l_10
			top: 50%
			left: 9.4%
			width: 67.483%
			height: 2.858%
		.config__l_11
			top: 50%
			left: 9.6%
			width: 26.123%
			opacity: .4
		.config__l_12
			top: 52.3%
			left: 80.4%
			width: 6.667%
			height: 14.109%
		.config__l_13
			top: 52.3%
			left: 80.3%
			width: 6.667%
	.config__house_2
		.config__l_1
			top: 31.6%
			left: 21.1%
			width: 63.266%
			height: 43.572%
		.config__l_2
			top: 17.4%
			left: 12%
			width: 75.648%
			height: 59.823%
		.config__l_3
			top: 12.6%
			left: 8.6%
			width: 84.9%
			height: 34.644%
		.config__l_4
			top: 12.6%
			left: 8.3%
			width: 85.444%
			opacity: .5
		.config__l_5
			top: 12.6%
			left: 8.6%
			width: 84.9%
			opacity: .5
		.config__l_6
			top: 58.3%
			left: 65.7%
			width: 18.777%
			height: 14.288%
		.config__l_7
			top: 58.3%
			left: 65.7%
			width: 18.777%
		.config__l_8
			top: 31.6%
			left: 20.8%
			width: 32.382%
			height: 43.74%
		.config__l_9
			top: 31.6%
			left: 20.8%
			width: 32.382%
			height: 43.74%
		.config__l_10
			top: 31.6%
			left: 21%
			width: 32.382%
		.config__l_11
			top: 31.6%
			left: 20.8%
			width: 32.654%
		.config__l_12
			top: 31.5%
			left: 20.8%
			width: 32.518%
			height: 25%
	.config__house_3
		.config__l_1
			top: 24.1%
			left: 6.5%
			width: 86.804%
			height: 46.072%
		.config__l_2
			top: 34%
			left: 9.9%
			width: 69.934%
			height: 34.466%
		.config__l_3
			top: 21.4%
			left: 2.9%
			width: 89.798%
			height: 23.036%
		.config__l_4
			top: 21.5%
			left: 2.9%
			width: 90.478%
			opacity: 0.2
		.config__l_5
			top: 21.5%
			left: 2.9%
			width: 90.478%
			opacity: 0.2
		.config__l_6
			top: 34%
			left: 60.1%
			width: 19.592%
			height: 25%
		.config__l_7
			top: 34.5%
			left: 60.1%
			width: 19.728%
			height: 28.75%
		.config__l_8
			top: 34%
			left: 59.7%
			width: 20.274%
		.config__l_9
			top: 55.2%
			left: 43.8%
			width: 7.484%
			height: 13.394%
		.config__l_10
			top: 55.2%
			left: 43.7%
			width: 7.62%
		.config__l_11
			top: 35%
			left: 59.8%
			width: 20.138%
		.config__l_12
			top: 33.9%
			left: 59.7%
			width: 20.138%
			height: 20.716%
	.config__foot
		padding-top: 20px
		+clr
	.config__link
		float: left
		margin-top: 10px
		text-decoration: none
		font-size: 14px
		color: $orange
		+tr(color .2s)
		+r(767)
			display: block
			float: none
			margin-bottom: 20px
		&:hover
			color: #555
	.config__btn
		float: right
		background: $orange
		color: #fff
		margin-right: 15px
		&:nth-child(2)
			margin-right: 0
			+r(767)
				float: right
		+r(767)
			float: none

.popup,.popup-konfigurator
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#000,.5)
	+vertical
	white-space: nowrap
	.popup__in,.popup-konfigurator__in
		display: inline-block
		white-space: normal
		position: relative
		max-width: 600px
		background: #FFF
		vertical-align: middle
		text-align: left
	.popup__close,..popup-konfigurator__close
		position: absolute
		top: -16px
		right: -16px
		width: 30px
		height: 30px
		padding: 0
		text-transform: uppercase
		z-index: 4
		+r(600)
			top: 0
			right: 0  
		&:before,
		&:after
			content: ""
			position: absolute
			background: #FFF
			+rotate(45)
		&:before
			top: 14px
			left: 5px
			width: 20px
			height: 2px
		&:after
			top: 5px
			left: 14px
			width: 2px
			height: 20px
	.popup__msg,.popup-konfigurator__msg
		padding: 20px
		border: 1px solid #ddd
		font-size: 16px
	.form
		margin: 0
	.form__foot
		padding: 0 15px 20px
		text-align: center
	.form-error
		padding-top: 3px
		font-size: 12px
		color: rgb(185,74,72)





































































































